
/* Create Database Digikala   */
IF DB_ID('Digikala') IS NULL	
	CREATE DATABASE Digikala

/* Create Table:City    */

CREATE TABLE Digikala..[City](
	[CityID] [tinyint] PRIMARY KEY,
	[CityName] [nvarchar](50) NOT NULL,
	[StateID] [tinyint] NOT NULL
 
	
)
/* Create Table: Customer    */

CREATE TABLE Digikala..[Customer](
	[CustomerID] [smallint] PRIMARY KEY ,
	[Title] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[AddressLine] [nvarchar](50) NOT NULL,
	[CityID] [tinyint] NOT NULL,
	[PostalCode] [int] NOT NULL,
	[EmailAddress] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[MaritalStatus] [bit] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[AnnualIncome] [int] NULL,
)

/* Create Table: Product   */

CREATE TABLE Digikala..[Product](
	[ProductID] [smallint] PRIMARY KEY,
	[Name] [nvarchar](50) NOT NULL,
	[ProductNumber] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Cost] [float] NOT NULL,
	[OriginalPrice] [float] NOT NULL,
	[ProductCategoryID] [tinyint] NOT NULL,
	[Stock] [tinyint] NOT NULL,
 )
/*		Create Table: [ProductCategory]  */


CREATE TABLE Digikala..[ProductCategory](
	[ProductCategoryID] [tinyint] PRIMARY KEY,
	[Name] [nvarchar](50) NOT NULL,
 )
/*		Create Table: [SalesOrder]    */

CREATE TABLE Digikala..[SalesOrder](
	[SalesOrderID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ShipDate] [date] NOT NULL,
	[SalesOrderNumber] [nvarchar](50) NOT NULL,
	[CustomerID] [smallint] NOT NULL,
 )
/*		Create Table: [SalesOrderDetail]   */

CREATE TABLE Digikala..[SalesOrderDetail](
	[SalesOrderDetailID] [int] PRIMARY KEY,
	[SalesOrderID] [int] NOT NULL,
	[ProductID] [smallint] NOT NULL,
	[OrderQty] [tinyint] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[UnitPriceDiscount] [float] NOT NULL
) 
/*		Create Table: [State]    */

CREATE TABLE Digikala..[State](
	[StateID] [tinyint] PRIMARY KEY,
	[StateName] [nvarchar](50) NOT NULL,
)

INSERT [dbo].[City] ([CityID], [CityName], [StateID]) VALUES (1, N'San Francisco', 1)
INSERT [dbo].[City] ([CityID], [CityName], [StateID]) VALUES (2, N'Nevada', 2)
INSERT [dbo].[City] ([CityID], [CityName], [StateID]) VALUES (3, N'Duvall', 3)
GO
INSERT [dbo].[Customer] ([CustomerID], [Title], [FirstName], [LastName], [AddressLine], [CityID], [PostalCode], [EmailAddress], [PhoneNumber], [Gender], [MaritalStatus], [BirthDate], [AnnualIncome]) VALUES (29580, N'Mr.', N'Richard', N'Bready', N'7338 Green St.', 1, 98020, N'richard1@adventure-works.com', N'340-555-0131', 1, 1, CAST(N'1973-09-25' AS Date), 55000)
INSERT [dbo].[Customer] ([CustomerID], [Title], [FirstName], [LastName], [AddressLine], [CityID], [PostalCode], [EmailAddress], [PhoneNumber], [Gender], [MaritalStatus], [BirthDate], [AnnualIncome]) VALUES (29591, N'Mr.', N'Robert', N'Brown', N'7270 Pepper Way', 2, 98004, N'robert5@adventure-works.com', N'575-555-0189', 1, 1, CAST(N'1978-09-20' AS Date), 62000)
INSERT [dbo].[Customer] ([CustomerID], [Title], [FirstName], [LastName], [AddressLine], [CityID], [PostalCode], [EmailAddress], [PhoneNumber], [Gender], [MaritalStatus], [BirthDate], [AnnualIncome]) VALUES (29661, N'Mr.', N'Charles', N'Christensen', N'9533 Ridgewood Drive', 3, 98201, N'charles1@adventure-works.com', N'334-555-0146', 1, 0, CAST(N'1984-04-25' AS Date), 45000)
GO
INSERT [dbo].[Product] ([ProductID], [Name], [ProductNumber], [Color], [Cost], [OriginalPrice], [ProductCategoryID], [Stock]) VALUES (708, N'Sport-100 Helmet, Black', N'HL-U509', N'Black', 13.086299896240234, 34.9900016784668, 2, 30)
INSERT [dbo].[Product] ([ProductID], [Name], [ProductNumber], [Color], [Cost], [OriginalPrice], [ProductCategoryID], [Stock]) VALUES (711, N'Sport-100 Helmet, Blue', N'HL-U509-B', N'Blue', 13.086299896240234, 34.9900016784668, 2, 24)
INSERT [dbo].[Product] ([ProductID], [Name], [ProductNumber], [Color], [Cost], [OriginalPrice], [ProductCategoryID], [Stock]) VALUES (712, N'AWC Logo Cap', N'CA-1098', N'Multi', 6.922299861907959, 8.9899997711181641, 3, 98)
GO
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Name]) VALUES (1, N'Bikes')
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Name]) VALUES (2, N'Accessories')
INSERT [dbo].[ProductCategory] ([ProductCategoryID], [Name]) VALUES (3, N'Clothing')
GO
INSERT [dbo].[SalesOrder] ([SalesOrderID], [OrderDate], [ShipDate], [SalesOrderNumber], [CustomerID]) VALUES (43659, CAST(N'2023-12-20' AS Date), CAST(N'2023-12-25' AS Date), N'SO43659', 29825)
INSERT [dbo].[SalesOrder] ([SalesOrderID], [OrderDate], [ShipDate], [SalesOrderNumber], [CustomerID]) VALUES (43660, CAST(N'2024-02-17' AS Date), CAST(N'2024-02-20' AS Date), N'SO43660', 29672)
INSERT [dbo].[SalesOrder] ([SalesOrderID], [OrderDate], [ShipDate], [SalesOrderNumber], [CustomerID]) VALUES (43661, CAST(N'2023-08-12' AS Date), CAST(N'2023-08-22' AS Date), N'SO43661', 29734)
GO
INSERT [dbo].[SalesOrderDetail] ([SalesOrderDetailID], [SalesOrderID], [ProductID], [OrderQty], [UnitPrice], [UnitPriceDiscount]) VALUES (8, 43659, 714, 3, 28.840400695800781, 0)
INSERT [dbo].[SalesOrderDetail] ([SalesOrderDetailID], [SalesOrderID], [ProductID], [OrderQty], [UnitPrice], [UnitPriceDiscount]) VALUES (11, 43659, 712, 2, 5.186500072479248, 0)
INSERT [dbo].[SalesOrderDetail] ([SalesOrderDetailID], [SalesOrderID], [ProductID], [OrderQty], [UnitPrice], [UnitPriceDiscount]) VALUES (12, 43659, 711, 4, 20.186500549316406, 0)
GO
INSERT [dbo].[State] ([StateID], [StateName]) VALUES (1, N'California')
INSERT [dbo].[State] ([StateID], [StateName]) VALUES (2, N'Utah')
INSERT [dbo].[State] ([StateID], [StateName]) VALUES (3, N'Washington')
GO

